* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2F2F2F;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.account-setting {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #FDEC51;
  width: 550px;
  height: 730px;
}

.header {
  padding: 50px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form img {
  position: absolute;
  top: -40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.form {
  position: absolute;
  bottom: 50px;
  right: -90px;
  background-color: #fff;
  width: 550px;
  margin-top: 40px;
  padding: 30px;


}

.form form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.label-2 {
  display: flex;
}

.input-username {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.names {
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-bottom: 10px;

}

.form textarea {
  width: 500px;
  height: 90px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-top: 15px;
  padding-bottom: 10px;
}

.form label span {
  color: #A5ADB7;
  text-transform: uppercase;
}

.buttons-footerr {
  position: relative;
  bottom: -70px;
  right: -250px;
  font-size: 20px;
  opacity: 0.6;
  font-weight: 500;
}

.cancel {

  margin-right: 40px;
}